#swiftly-styled-footer {
    // @font-face {
    //     font-family: 'footerButtonFont';
    //     src: url('/src/fonts/SwiftlyStyled/Poppins/Poppins-Bold.ttf');
    // }

    // @font-face {
    //     font-family: 'footerLinks';
    //     src: url('/src/fonts/SwiftlyStyled/Montserrat/static/Montserrat-Black.ttf');
    // }


    .footer-box {
        color: #ffffff;
        text-align: center;
        padding: 20px 50px;
        font-family: 'Montserrat', sans-serif;
        width: 100%;
        background-color: #5f5b58;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0;

        p {
            margin-bottom: 10px;
        }

        strong {
            font-weight: bold;
            color: #ffffff;
        }

        em {
            font-style: italic;
        }
    }

    .black-box {
        background-color: #2c2c2c;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        line-height: 1.5;
        letter-spacing: 0;
        color: #ffffffdb;
        text-align: center;

        p {
            margin-bottom: 10px;
        }
    }

    .footer-links {
        background-color: #bb0000;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        font-family: 'footerLinks';

        a {
            color: #ffffff;
            text-decoration: none;
            font-weight: bold;
            letter-spacing: 0;
            font-size: 14px;
            margin-bottom: 5px;
        }

        .copyright {
            text-align: center;
            font-size: 18px;
            line-height: 1.4;
            letter-spacing: 0;
            color: #ffffffc3;
        }

        a:first-child {
            margin-right: auto;
            font-family: 'footerButtonFont';
            font-weight: bold;
            font-size: 15px;
            margin-left: 30px;
        }

        a:last-child {
            margin-left: auto;
            font-family: 'footerButtonFont';
            font-weight: bold;
            font-size: 15px;
            margin-right: 25px;
        }
    }

}